/env
/venv
/__pycache__
/main_menu/__pycache__
/map/__pycache__
/sprites/__pycache__
/utils/__pycache__
/pokemon/__pycache__
/battle_screen/__pycache__
/pokemon/effects/__pycache__
/pokemon/attacks/__pycache__
/pokemon/ability_screen/__pycache__
/inventory/__pycache__
/save_handling/__pycache__
/save_files